{% extends "base.html" %}

    {% block title %}마이페이지{% endblock title %}
    
    {% block css %}
    <style>
        .my-title{margin:30px auto; width:800px; height:150px;}
        .my-title h2{text-align:center; 
            font-size:45px; color:#333333;}
        .my-content{margin:50px auto; width:800px; height:500px;}
        .my-detail{}

    </style>
    {% endblock css %}
    


    {% block body %}
        <div class='my-title'>
            <h2>마이페이지</h2>
        </div>
    
        <div class='my-content'>
            <ul class='my-detail'>
                <li a href="">은지님의 계정관리</li>
                <li a href="">은지님의 도서 장바구니</li>
                <li a href="">은지님의 맛집 북마크</li>
            </ul>
        </div>
    {% endblock body %}

</html>