<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>도서관리자 페이지</h2>

    <form action="{% url 'store:smanage' %}" method="POST">
        {% csrf_token %}
        <label>책제목</label>
        <input type="text" name="btitle"><br>
        <label>지은이</label>
        <input type="text" name="bauthor"><br>
        <label>출판사</label>
        <input type="text" name="bpublisher"><br>
        <label>출판일</label>
        <input type="date" name="bpubdate"><br>
        <label>책가격</label>
        <input type="number" name="bprice" min="0" placeholder="숫자만 입력하세요"><br>
        <label>이미지 주소(URL): </label>
        <input type="url" name="bimage" placeholder="https://example.com/image.jpg"><br>
        <label>책 소개: </label>
        <textarea name="bdescription" rows="5" placeholder="책 내용을 입력하세요"></textarea><br>
        <label>ISBN</label>
        <input type="text" name="bisbn"><br>
        <input type="submit">



</body>
</html>